<section>
    <div class="img-box">
        <img src="./../../../assets/img/about_me/Property 1=Hover (3).png" alt="Picture of a Person">
    </div>
    <div>
        <h3>Who I Am</h3>
        <div class="about-me">
            <h2>About me</h2>
            <p>Hi, I'm a german speaking Software Developer based in Aachen. Motivated by the limitless opportunities within IT, I am excited about crafting visually captivating and intuitive websites and applications. </p>
            <div class="flex">
                <img src="./../../../assets/img/highlights/location_on.png" alt="">
                <span class="my-attributes">Based in Aachen, Germany<br> Rooted in the heart of Europe, I embrace an international perspective and value the blend of local culture with global opportunities in the IT field.</span>
            </div>
            <div class="flex">
                <img src="./../../../assets/img/highlights/cognition.png" alt="">
                <span class="my-attributes">Passion for Creative Problem-Solving <br> I enjoy turning complex challenges into elegant, user-friendly solutions by combining technical expertise with a strong sense for design and usability.</span>
            </div>
            <div class="flex">
                <img src="./../../../assets/img/highlights/new_releases.png" alt="">
                <span class="my-attributes">Strong Technical Foundation <br> Skilled in modern web technologies and frameworks, I continuously expand my knowledge to deliver scalable, efficient, and future-proof applications.</span>
            </div>
        </div>
    </div>
</section>

