<section>
    <div class="img-box">
        <img src="./../../../assets/img/about_me/Property 1=Hover (3).png" alt="Picture of a Person">
    </div>
    <div>
        <h3>Who I Am</h3>
        <div class="about-me">
            <h2>About me</h2>
            <p>Hi, I'm a german speaking Software Developer based in Aachen. Motivated by the limitless opportunities within IT, I am excited about crafting visually captivating and intuitive websites and applications. </p>
            <div class="flex">
                <img src="./../../../assets/img/highlights/location_on.png" alt="">
                <span>Beijasdj od a asv <br> hjashdihsauf  hfi uhasih dah dhsaiu saiasdjio jqwahi du aish hdsaiuh dwho ihaiou zdado</span>
            </div>
            <div class="flex">
                <img src="./../../../assets/img/highlights/cognition.png" alt="">
                <span>Beijasdj  iod a asv <br> hjashdihsauf  hfi uhasih dah dhsaiu saiasdjio jqwahi du aish hdsaiuh dwho ihaiou zdado</span>
            </div>
            <div class="flex">
                <img src="./../../../assets/img/highlights/new_releases.png" alt="">
                <span>Beijasdj saioj iod a asv <br> hjashdihsauf  hfi uhasih dah dhsaiu saiasdjio jqwahi du aish hdsaiuh dwho ihaiou zdado</span>
            </div>
        </div>
    </div>
</section>

