section{
    width: 100%;
    height: 80vh;
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    >h2{
        background-color: transparent;
        color: rgb(172, 172, 172);
    }
    >div{
        >h3{
            margin-top: 200px;
            font-family: 'Karla';
            font-size: 24px;
            font-weight: 500;
            line-height: 28.06px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #3DCFB6;
        }
    }
}

.img-box{
    >img{
        width: 568px;
    }
}

.about-me{
    background-color: #3DCFB61A;
    border: 1px, solid #3DCFB6;
    border-radius: 10px;
    padding: 16px;
    width: 450px;
    margin-top: 20px;
    >h2{
        color: #3DCFB6;
        font-family: Fira Code;
        font-size: 64px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -0.03em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none; 
        margin-bottom: 16px;
    }
    >p{
        color:#FFFFFF;
        cursor: default;
        font-family: Karla;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-bottom: 24px;
    }
    >div{
        >img{
            width: 20px;
            height: 20px;
            padding: 8px;
        }
        >span{
            margin-bottom: 16px;
        }
    }
}

.flex{
    display: flex;
}

.my-attributes{
    color: #dbd8d8;
    cursor: default;

    &:hover{
        color: whitesmoke;
    }
}