@import './../../../styles.scss';


section{
    background-image: url('./../../../assets/img/background/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100vh;
    >.navbar{
        display: flex;
        justify-content: space-between;
        padding-left: 8px;
        padding-right: 8px;
        >div{
            display: flex;
            align-items: center;
            gap: 8px;
            padding-right: 16px;
            >h3{
                color: whitesmoke;
                font-family: "Fira Code", serif;
                font-size: 24px;
                text-align: center;
            }
        }
        >nav{
            display: flex;
            align-items: center;
            padding: 16px;
            >a{
                font-size: 20px;
                font-weight: 400;
                text-decoration: none;
                margin: 16px;
                color: white;
            }
        }
    }

.title-btn{
    >button:hover{
        cursor: pointer;
    }
}


.animation{
    height: 300px;
    display: flex;
    justify-content: space-between;
    >div{
        width: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
}

.container-img{
    display: flex;
    flex-direction: column;
    width: 60px;
    margin-right: 50px;
    >img{
        width: 30px;
        height: 30px;
        margin-top: 10px;
    }
}

.mail-address{
    position: relative;
    top: -120px;
    margin-right: 80px;
}

.banner{
    width: 100%;
    height: 50px;
    position: absolute;
    left:0;
    bottom: 60px;
    transform: rotate(-5deg);
    background: rgba(240, 233, 233, 0.1);
    z-index: 2;
    backdrop-filter: blur(2px);
}

.container-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    >p{
        transform: rotate(270deg);
        display: inline-block;
    }
    >img{
        width: 30px;
    }
}

.container-left{
    width: 80px;
    >img{
        margin-left: 80px;
        margin-bottom: 40px;
        animation: floatY 3s ease-in-out infinite;
    }
}

@keyframes floatY {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px); /* nach unten */
    }
    100% {
        transform: translateY(0); /* zurück nach oben */
    }
}

.arrow-frame {
    margin-left: 80px;
    margin-bottom: 14px;
    width: 30px;
    height: 74px;
    border: 1px solid rgba(61, 207, 182, 1); /* dein Rahmen */
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* optional: verhindert, dass der Pfeil rauswandert */
  }

.left-line{
    width: 80px;
    height: 400px;
    border-right: 1px solid #3DCFB6;
}

.right-line{
    position: relative;
    margin-top: 20px;
    height: 200px;
    width: 80px;
    border-left: 1px solid #ffffff;
    z-index: 1;
}

.title{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    >h2{
        font-size: 40px;
        font-weight: 400;
        line-height: 40px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #D9D9D9;
    }
    >h1{
        font-family: Karla;
        font-size: 128px;
        font-weight: 700;
        line-height: 128px;
        letter-spacing: -0.02em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #D9D9D9;
    }
    >div{
        width: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px;
        gap: 24px;
        >button{
            background-color: transparent;
            border: 2px solid grey;
            border-radius: 100px;
            height: 40px;
            width: 150px;
        }
    }
}