<section>
    <div class="navbar">
        <nav>
            <img src="./../../../assets/img/icon/Language switch.png" alt="Button to switch the language">
            <a href="">About me</a>
            <a href="">Skills</a>
            <a href="">Projects</a>
        </nav>
        <div>
            <img src="./../../../assets/img/about_me/My-logo.png" alt="My Logo">
            <h3>Ismail<br>Baris</h3>
        </div>
    </div>
    <div class="title">
        <h2>Software Developer</h2>
        <h1>Ismail Baris</h1>
        <div class="title-btn">
            <button>Check my work</button>
            <button>Contact me</button>
        </div>
    </div>
    <div class="animation">
        <div class="container-left">
            <div class="arrow-frame">
                <img src="./../../../assets/img/icon/arrow-down.png" alt="">
            </div>
            <div class="left-line"></div>
        </div>
        <div>
            <div class="container-links">
                <p class="mail-address">ismail.93.baris&#64;gmail.com</p>
                <div class="container-img">
                    <img class="icons" src="./../../../assets/img/icon/Github.png" alt="Github Logo">
                    <img class="icons" src="./../../../assets/img/icon/Linkedin.png" alt="LinkedIn Logo">
                </div>
            </div>
            <div class="right-line"></div>
        </div>
    </div>
    <div class="banner">
        <span>Available for remote work</span>
    </div>
</section>
