<section>
    <div class="navbar">
        <nav>
            <img src="./../../../assets/img/icon/Language switch.png" alt="Button to switch the language">
            <a href="">About me</a>
            <a href="">Skills</a>
            <a href="">Projects</a>
        </nav>
        <div>
            <img src="./../../../assets/img/about_me/My-logo.png" alt="My Logo">
            <h3>Ismail<br>Baris</h3>
        </div>
    </div>
    <div class="title">
        <h2>Software Developer</h2>
        <h1>Ismail Baris</h1>
        <div>
            <button>Check my work</button>
            <button>Contact me</button>
        </div>
    </div>
</section>
