section{
    background-image: url('./../../../assets/img/background/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    >.navbar{
        display: flex;
        justify-content: space-between;
        padding-left: 8px;
        padding-right: 8px;
        >div{
            display: flex;
            align-items: center;
            gap: 8px;
            padding-right: 16px;
            >h3{
                color: whitesmoke;
                font-family: "Fira Code", serif;
                font-size: 24px;
                text-align: center;
            }
        }
        >nav{
            display: flex;
            align-items: center;
            padding: 16px;
            >a{
                font-family:"Fira Code", serif;
                font-size: 20px;
                font-weight: 400;
                text-decoration: none;
                margin: 16px;
                color: white;
            }
        }
    }
}

.title{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    >h2{
        font-family: Fira Code;
        font-size: 40px;
        font-weight: 400;
        line-height: 40px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #D9D9D9;
    }
    >h1{
        font-family: Karla;
        font-size: 128px;
        font-weight: 700;
        line-height: 128px;
        letter-spacing: -0.02em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #D9D9D9;
    }
    >div{
        width: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px;
        gap: 24px;
        >button{
            background-color: transparent;
            border: 2px solid grey;
            border-radius: 100px;
            height: 40px;
            width: 150px;
        }
    }
}