<div class="navbar">
  <nav>
    <!-- 🔹 Language switch -->
    <div
      class="language-switch"
      [ngClass]="{ 'en-active': currentLang === 'en', 'de-active': currentLang === 'de' }"
    >
      <span class="lang en" (click)="useLanguage('en')">EN</span>
      <span class="lang de" (click)="useLanguage('de')">DE</span>
      <div class="highlight"></div>
    </div>

    <!-- 🔹 Navigation links -->
    <a (click)="navigateToSection('about-me')">
      {{ 'NAV.ABOUT' | translate }}
    </a>
    <a (click)="navigateToSection('skills')">
      {{ 'NAV.SKILLS' | translate }}
    </a>
    <a (click)="navigateToSection('projects')">
      {{ 'NAV.PROJECTS' | translate }}
    </a>
  </nav>

  <!-- 🔹 Logo + Name -->
  <div>
    <img src="./../../../assets/img/about_me/My-logo.png" alt="My Logo" />
    <h3>Ismail<br />Baris</h3>
  </div>
</div>
