<section>
    <h3>Portfolio</h3>
    <h2>Featured Projects</h2>
    <p>Explore a selection of my work here - Interact with<br>projects to see my skills in action.</p>
    <div>
        <span>Join</span>
        <p>
            Angular <span class="pipe">|</span> 
            TypeScript <span class="pipe">|</span> 
            HTML <span class="pipe">|</span> 
            CSS <span class="pipe">|</span> 
            Firebase
        </p>
    </div>
    <div>
        <span>Shadow Shinobi</span>
        <p>HTML <span class="pipe">|</span> CSS <span class="pipe">|</span> JavaScript</p>
    </div>
    <div class="border-bottom">
        <span>Pokedex</span>
        <p>HTML <span class="pipe">|</span> CSS <span class="pipe">|</span> API <span class="pipe">|</span> JavaScript</p>
    </div>
</section>