section{
    height: 70vh;
    background-color: #1c1c1c;
    padding: 48px;
    >h2{
        background-color: transparent;
        color: #3DCFB6;
        font-family: Fira;
        font-size: 64px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -0.03em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-bottom: 24px;
    }
    >h3{
        color: #3DCFB6;
        font-family: Karla;
        font-size: 24px;
        font-weight: 700;
        line-height: 28.06px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-bottom: 24px;
    }
    >p{
        font-family: Karla;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
        text-align: justified;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-bottom: 24px;
    }
    >div{
        border-top: 1px solid #3DCFB6;
        width: 60%;
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        >span{
            font-family: Fira;
            font-size: 24px;
            font-weight: 700;
            line-height: 28.8px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none; 
        }
        >p{
            font-family: Karla;
            font-size: 18px;
            font-weight: 400;
            line-height: 21.6px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

            span.pipe {
                color: #3DCFB6;
                font-weight: bold;
            }
        }
    }
}

.border-bottom{
    border-bottom: 1px solid #3DCFB6;
}