<section>
  <app-navbar></app-navbar>
  <img class="bg-img" src="./../../../assets/img/background/background.png" alt="Background">

  <div class="content">
    <div class="title">
      <h1>{{ 'PRIVACY.HEADER' | translate }}</h1>
    </div>

    <h2>{{ 'PRIVACY.SECTION1.TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY.SECTION1.TEXT' | translate }}</p>

    <h2>{{ 'PRIVACY.SECTION2.TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY.SECTION2.TEXT' | translate }}</p>

    <h2>{{ 'PRIVACY.SECTION3.TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY.SECTION3.TEXT' | translate }}</p>

    <h2>{{ 'PRIVACY.SECTION4.TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY.SECTION4.TEXT' | translate }}</p>

    <h2>{{ 'PRIVACY.SECTION5.TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY.SECTION5.TEXT' | translate }}</p>

    <h2>{{ 'PRIVACY.SECTION6.TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY.SECTION6.TEXT' | translate }}</p>
  </div>
</section>

<app-footer class="footer-legal"></app-footer>
