<section class="legal-notice">
    <img class="bg-img" src="./../../../assets/img/background/background.png" alt="Background">
    <h1>Legal Notice (Impressum)</h1>
  
    <h2>Angaben gemäß § 5 TMG</h2>
    <p>
      Dein Name<br>
      Deine Adresse<br>
      PLZ Ort<br>
      Deutschland
    </p>
  
    <h2>Kontakt</h2>
    <p>
      Telefon: +49 123 456789<br>
      E-Mail: <a href="mailto:info&#64;deine-domain.de">info&#64;deine-domain.de</a>
    </p>
  
    <h2>Haftung für Inhalte</h2>
    <p>
      Inhalte dieser Seite wurden mit größter Sorgfalt erstellt. Für die Richtigkeit,
      Vollständigkeit und Aktualität der Inhalte übernehmen wir jedoch keine Gewähr.
    </p>
  </section>
  