<section>
  <app-navbar></app-navbar>
  <img class="bg-img" src="./../../../assets/img/background/background.png" alt="Background">

  <div class="content">
    <div class="title">
      <h1>Legal Notice</h1>
    </div>

    <h2>Information according to § 5 TMG</h2>
    <p>
      · Ismail Baris<br>
      · Finkenstraße 2<br>
      · 52531 Übach-Palenberg<br>
      · Germany
    </p>

    <h2>Contact</h2>
    <p>
      E-Mail: <a href="mailto:contact&#64;ismail-baris.de">contact&#64;ismail-baris.de</a><br>
    </p>

    <h2>Responsible for the content</h2>
    <p>
      Responsible for the content according to § 55 para. 2 RStV:<br>
      Ismail Baris, [Address as above]
    </p>

    <h2>Liability for content</h2>
    <p>
      The contents of this website have been created with the greatest care. However,
      I cannot guarantee the accuracy, completeness, or timeliness of the content.
    </p>

    <h2>Liability for links</h2>
    <p>
      My website contains links to external third-party websites, the content of which I have no influence over.
      Therefore, I cannot assume any liability for these external contents. The respective provider or operator
      of the linked pages is always responsible for their content.
    </p>

    <h2>Copyright</h2>
    <p>
      The content and works created by me on this website are subject to German copyright law.
      Contributions by third parties are marked as such. The reproduction, editing, distribution,
      and any kind of use beyond the limits of copyright law require my written consent.
    </p>
  </div>
</section>

<app-footer class="footer-legal"></app-footer>
