.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    padding: 32px;
    border: 1px solid #3DCFB6;
    border-radius: 32px;
    display: flex;
    gap: 32px;
    max-width: 1000px;
    width: 90%;
    height: 60vh;
    position: relative;   // wichtig: neuer stacking-context
    color: #fff;
    animation: fadeIn 0.3s ease;
    z-index: 1;           // Inhalt über Hintergrund
    overflow: hidden;     // damit bg-img nicht raussteht
  }
  
  .bg-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px;
    z-index: -1;          // Hintergrund hinter allem
  }
  
  
  .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    background: transparent;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
  }
  
  .modal-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    >div{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        h2 {
        font-size: 94px;
        color: #3DCFB6;
        margin: 0;
        }
  
        h3 {
        font-size: 64px;
        font-weight: bold;
        margin-bottom: 16px;
        }
    }
  
    .modal-subtitle {
      font-weight: bold;
      color: #3DCFB6;
    }
  
    .tech-icons {
      margin-top: 16px;
      span {
        margin-right: 8px;
        color: #3DCFB6;
      }
    }
  
    .buttons {
      display: flex;
      gap: 12px;
      margin-top: 24px;
  
      a, button {
        padding: 10px 20px;
        border-radius: 6px;
        background: #222;
        color: #fff;
        border: 1px solid #3DCFB6;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s;
  
        &:hover {
          background: #3DCFB6;
          color: #111;
        }
      }
    }
  }
  
  .modal-right img {
    max-width: 400px;
    border-radius: 8px;
  }