/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Fira;
    src: url('./assets/fonts/FiraCode-VariableFont_wght.ttf') format(truetype);
}

@font-face {
    font-family: Karla;
    src: url('./assets/fonts/Karla-VariableFont_wght.ttf') format(truetype);
}

@mixin flexbox($justify: center, $align: center, $direction: row, $wrap: nowrap){ 
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

*{
    font-family: Fira;
    margin: 0;
    color: whitesmoke;
    cursor: default;
}