<section>
    <h3>Technologies</h3>
    <div>
        <div class="skill-set">
            <h2>Skill Set</h2>
            <p>My journey has involved working on diverse projects, employing a range of frontend technologies and concepts. I am open to embracing new technologies and methodologies to Continously enhance my skills and stay ahead in the ever-evolving landscape of web development.</p>
            <div>    
                <h3>You need</h3>
                <h3 class="another_skill">another skill?</h3>
            </div>
            <span>Feel free to contact me. I look forward to <br>expanding on my previous knowledge.</span>
            <button>Let's Talk</button>
        </div>
        <div class="icons">
            <div>
                <img src="./../../../assets/img/skill_set/html.png" alt="HTML ICON">
                <span>HTML</span>
            </div>
            <div>
                <img src="./../../../assets/img/skill_set/CSS.png" alt="CSS ICON">
                <span>CSS</span>
            </div>
            <div>
                <img src="./../../../assets/img/skill_set/Javascript.png" alt="JavaScript Icon">
                <span>JavaScript</span>
            </div>
            <div>
                <img src="./../../../assets/img/skill_set/MT_design.png" alt="Material Design">
                <span>Material<br>Design</span>
            </div>
            <div>
                <img src="./../../../assets/img/skill_set/typeScript.png" alt="TypeScript Icon">
                <span>TypeScript</span>
            </div>
            <div>
                <img src="./../../../assets/img/skill_set/Angular.png" alt="Angular Icon">
                <span>Angular</span>
            </div>
            <div>
                <img src="./../../../assets/img/skill_set/git.png" alt="GIT Icon">
                <span>GIT</span>
            </div>
            <div>
                <img src="./../../../assets/img/skill_set/scrum.png" alt="Scrum Icon">
                <span>Scrum</span>
            </div>
            <div>
                <img src="./../../../assets/img/skill_set/growth_mindset.png" alt="Education Icon">
                <span>Growth<br>mindset</span>

                <div class="tooltip">
                    <p>I have a special<br>interest in learning</p>
                    <div class="tooltip-icons">
                      <div>
                        <img src="./../../../assets/img/skill_set/react.png" alt="React Icon">
                        <span>React</span>
                      </div>
                      <div>
                        <img src="./../../../assets/img/skill_set/vue.png" alt="Vue Icon">
                        <span>Vue Js</span>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>