<section id="skills">
  <img class="bg-img" src="./../../../assets/img/background/Background_2.png" alt="Background">

  <h3>{{ 'SKILLS.TECHNOLOGIES' | translate }}</h3>
  <div>
    <div class="skill-set">
      <h2>{{ 'SKILLS.HEADER' | translate }}</h2>
      <p>{{ 'SKILLS.INTRO' | translate }}</p>

      <div>
        <h3>{{ 'SKILLS.YOU_NEED' | translate }}</h3>
        <h3 class="another_skill">{{ 'SKILLS.ANOTHER' | translate }}</h3>
      </div>

      <span>{{ 'SKILLS.CONTACT_TEXT' | translate }}</span>
      <button (click)="scrollToSection('contact-me')">{{ 'SKILLS.CTA' | translate }}</button>
    </div>

    <div class="icons">
      <div>
        <img src="./../../../assets/img/skill_set/html.png" alt="HTML ICON">
        <span>HTML</span>
      </div>
      <div>
        <img src="./../../../assets/img/skill_set/CSS.png" alt="CSS ICON">
        <span>CSS</span>
      </div>
      <div>
        <img src="./../../../assets/img/skill_set/Javascript.png" alt="JavaScript Icon">
        <span>JavaScript</span>
      </div>
      <div>
        <img src="./../../../assets/img/skill_set/MT_design.png" alt="Material Design">
        <span>Material<br>Design</span>
      </div>
      <div>
        <img src="./../../../assets/img/skill_set/typeScript.png" alt="TypeScript Icon">
        <span>TypeScript</span>
      </div>
      <div>
        <img src="./../../../assets/img/skill_set/Angular.png" alt="Angular Icon">
        <span>Angular</span>
      </div>
      <div>
        <img src="./../../../assets/img/skill_set/git.png" alt="GIT Icon">
        <span>GIT</span>
      </div>
      <div>
        <img src="./../../../assets/img/skill_set/scrum.png" alt="Scrum Icon">
        <span>Scrum</span>
      </div>
      <div>
        <img src="./../../../assets/img/skill_set/growth_mindset.png" alt="Education Icon">
        <span>{{ 'SKILLS.GROWTH' | translate }}</span>

        <div class="tooltip">
          <p>{{ 'SKILLS.TOOLTIP' | translate }}</p>
          <div class="tooltip-icons">
            <div>
              <img src="./../../../assets/img/skill_set/react.png" alt="React Icon">
              <span>React</span>
            </div>
            <div>
              <img src="./../../../assets/img/skill_set/vue.png" alt="Vue Icon">
              <span>Vue Js</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
